body{
    width: 1050px;
    margin: auto;
}

/* Intestazione con logo e bg */
header{
    background-image: url(../img/pattern.png);
    background-color: #4CA1F9;
    background-size: 30%;
    padding-top: 40px;
}

#logo{
    width: 200px;
}

/* /Intestazione con logo e bg */

/* intestazione mainpage */
#titolo {
    margin-top: 10px;
    font-size: 45px;
    margin-bottom: 0;
}

.grey{
    color:grey;
}

#autore{
    font-size: 20px;
}

#autore > span {
    color: #4CBCEB;
}

/* /intestazione mainpage */

/* foto e didascalie */
#sezione-foto{
    margin-top: 20px;
}

.didascalia{
    margin:0;
    padding: 0;
    font-size: 15px;
}

/* /foto e didascalie */

/* contenuto principale */
.yellow-back{
    background-color: yellow;
}

#main-section > ul {
    padding-left: 20px;
}

/* tabella */

.width-20 {
    width: 20%;
}

.width-40 {
    width: 50%;
}

th{
    text-align: left;
}

table{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

thead {
    color: white;
    background-color: #19AAE6;
    border-color: #19AAE6;
}

tbody > .lightblue {
    background-color: #B2E6F2;
}

/* /tabella */

/* footer del contenuto principale */
#footer-title {
    font-size: 15px;
    color: grey;
    font-weight: bold;
}

.image {
    width: 250px;
    height: 200px;
    background-size: cover 100%;
    margin: 10px 0;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

#monitor {
    background-image: url(../img/monitor.jpg);
}
#grafica{
    background-image: url(../img/graph.jpg);
}
/* /footer del contenuto principale */


/* /contenuto principale */
