body{
    width: 1050px;
    margin: auto;
}

header{
    background-image: url(../img/pattern.png);
    background-color: #4CA1F9;
    background-size: 30%;
    padding-top: 40px;
}

#logo{
    width: 200px;
}

#titolo {
    margin-top: 10px;
    font-size: 45px;
    font-weight: bold;
}

.grey{
    color:grey;
}

#autore{
    font-size: 20px;
}

#autore > span {
    color: #4CBCEB;
}

#sezione-foto{
    margin-top: 20px;
}

.didascalia{
    margin:0;
    padding: 0;
    font-size: 15px;
}

.yellow-back{
    background-color: yellow;
}

#main-section > ul {
    padding-left: 20px;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 50%;
}

th{
    text-align: left;
}

thead {
    color: white;
    background-color: #19AAE6;
    border-color: #19AAE6;
}

tbody > .lightblue {
    background-color: #B2E6F2;
}