body{
    width: 1200px;
    background-color: black;
    margin: auto;
}

header{
    background-image: url(../img/pattern.png);
    background-color: #4CA1F9;
    background-size: 30%;
    padding-top: 40px;
}

#logo{
    width: 200px;
}